<html>
  <head>
    <title>FACE RECOGNITION</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap"rel="stylesheet">
  </head>
  <body>
    <div class="banner" style="background-image: url('static/2.jpg')">
     
      <div class="content">
        <center>
          <h1>FACE RECOGNITION SYSTEM</h1>
        <P>A facial recognition system is a technology capable for signup and login into the website with your face</P>
      <div>
        <form class="form" action="logins" >
          <div>
          <button type="submit" class="btn"><h2>PASSWORD</h2> </button>
          
          </div>
          </form>
          <div>
            <form class="form" action="logs" >
              <div>
              <button type="submit" class="btn"><h2>FACE</h2> </button>
              
              </div>
              </form>
        </center>
        
          
  </div>
</div>
</div>

  </body>
</html>
