<html>
  <head>
    <title>FACE RECOGNITION</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap"rel="stylesheet">
  </head>
  <body>
    <div class="banner" style="background-image: url('static/2.jpg')">
      <nav>
        <div class="nav-links">
          <ul>
            <li><a href="{{ url_for('index') }}">HOME</a></li>
            <li><a href="{{ url_for('login') }}">LOGIN</a></li>
           
          </ul>
        </div>
      </nav>
     
      <div class="content">
        <h1>FACE RECOGNITION SYSTEM</h1>
        <P>A facial recognition system is a technology capable for signup and login into the website with your face</P>

        <h3 style="color : red"> {{data}}</h3>
          
  </div>
</div>
</div>

  </body>
</html>


